/* --------ANY QUESTIONS--------*/

.questions {
    font-family: $font-allura;
    font-size: 200%;
    color: $elegant-color;
}

.get {
    font-family: $font-playfair;
    font-size: 266%;
    color: $gray-color-2;
}

.asterisk5 {
    font-family: $font-playfair;
    font-size: 88%;
    color: #b2b2b2;
}

.others {
    font-family: $font-cabin;
    font-size: 88%;
    color: $gray-color;
}

.others-2 {
    font-family: $font-playfair;
    font-size: 138%;
    color: $gray-color-2;
}





