/* --------FEEDBACK--------*/

.feedback {
    height: 60vh;
    background: url(../img/melc.jpg);
  
    .feedback-text {
      font-family: $font-cabin;
      font-size: 100%;
      color: $gray-color;
    }
  
    .feedback-author {
      font-family: $font-playfair;
      font-size: 100%;
      color: $gray-color;
    }
  
    .feedback-title {
      font-family: $font-playfair;
      font-size: 77%;
      color: #767676;
    }
  
    .carousel {
      .carousel-item {
        height: 60vh;
      }
  
      .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: 2px solid $elegant-color;
      }
  
      .carousel-indicators li.active {
        background-color: $elegant-color;
      }
    }
  }