footer {
    background: url("../img/melc-2.jpg");
    height: 60vh;
}

.get-news {
    padding-top: 120px;
}

.input-email {
    
    width: 300px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.1);
    border: 0;

}

.get-news {
    font-family: $font-playfair;
    font-size: 111%;
    color: $gray-color-2;
}

.joinn {
    font-family: $font-cabin;
    font-size: 72%;
    color: #767676;
}
