/* --------GALLERY--------*/

.our-gallery {
    .see-our {
      font-family: $font-allura;
      font-size: 200%;
      color: $elegant-color;
    }
  
    .gallery {
      font-family: $font-playfair;
      font-size: 266%;
      color: $gray-color-2;
    }
  
    .asterisk3 {
      color: #b2b2b2;
      font-size: 88%;
    }
  }