

/* --------HEADER--------*/

header {
    background-image: url(../img/img1.jpeg);
    height: 100vh;
    background-size: cover;
  
    .initial-text {
      display: flex;
      padding-left: 300px;
      padding-top: 150px;
      font-family: $font-playfair;
      font-size: 377%;
      color: $white-color;
      font-weight: 600;
    }
  
    .initial-text-2 {
      display: flex;
      padding-left: 600px;
      padding-top: 20px;
      color: $white-color;
      font-family: $font-cabin;
      font-size: 100%;
    }
  }
  