/* --------NAVBAR--------*/

.navbar-nav {
    padding-left: 870px;
  }
  
  .navbar .nav-link {
    display: inline;
    color: $white-color;
    font-family: $font-playfair;
    transition: all 0.3s;
    @include hover-focus {
      color: $elegant-color !important;
    }
  }
  
  .navbar .navbar-brand {
    @include hover-focus {
      color: $white-color !important;
    }
  }
  
  .navbar-brand {
    padding-left: 180px;
    font-size: 177%;
    font-family: $font-playfair;
    color: #000;
  }