/* --------NEWS&EVENTS--------*/


  
.see-our-2 {
    font-family: $font-allura;
    font-size: 200%;
    color: $elegant-color;
  }

  .news {
    font-family: $font-playfair;
    font-size: 266%;
    color: $gray-color-2;
  }

  .asterisk4 {
    color: #b2b2b2;
    font-size: 88%;
  }

  .news-text {
    font-family: $font-cabin;
    font-size: 88%;
    color: $gray-color;
    line-height: 180%;
  }

.events {
  list-style: none;
  border-radius: 20px;
  box-shadow: 0 5px 30px rgba(0,0,0,0.1);
  margin-bottom: 6%;
}

.rock {
  font-family: $font-playfair;
  font-size: 111%;
  color: #262626;
}

.when {
  font-family: $font-cabin;
  font-size: 72%;
  color: #262626;
}