/* --------OUR MENU--------*/

.discover {
    font-family: $font-allura;
    font-size: 200%;
    color: $elegant-color;
  }
  
  .our-menu {
    font-family: $font-playfair;
    font-size: 266%;
    color: $gray-color-2;
  }
  
  .asterisk2 {
    font-family: $font-playfair;
    font-size: 88%;
    color: #b2b2b2;
  }
  
  .mini-photos {
    width: 70px;
    height: auto;
    padding-bottom: 40px;
  }
  
  .mini-icons {
    width: 60px;
    height: 60px;
  }
  
  .br-lu-di {
    font-family: $font-playfair;
    font-size: 138%;
    color: $gray-color-2;
    padding-top: 15px;
  }
  
  .hours {
    font-family: $font-cabin;
    font-size: 77%;
    color: #919090;
    padding-top: 15px;
    padding-bottom: 30px;
  }
  
  .food-text {
    font-family: $font-playfair;
    font-size: 122%;
    color: $gray-color-2;
  }
  
  .food-description {
    font-family: $font-cabin;
    font-size: 88%;
    color: $gray-color;
  }
  
  .food-price {
    font-family: $font-cabin;
    font-size: 100%;
    color: $elegant-color;
  }