/* --------OUR RESTAURANT--------*/

.my-container {
    display: flex;
    //margin: 85px 25px;
  
    .about {
      font-size: 200%;
      font-family: $font-allura;
      color: $elegant-color;
    }
  
    .my-col-left {
      text-align: center;
    }
  
    .our-restaurant-title {
      font-size: 266%;
      font-family: $font-playfair;
      font-weight: 550;
      color: $gray-color-2;
    }
  
    .asterisk {
      color: #b2b2b2;
    }
  
    .our-restaurant-description {
      font-family: $font-cabin;
      font-size: 88%;
      color: $gray-color;
      padding-top: 35px;
      line-height: 180%;
    }
  
    .about-us {
      color: $elegant-color;
      font-family: $font-cabin;
      font-size: 77%;
      font-weight: 600;
      letter-spacing: 3px;
    }
  
    .our-restaurant-photo {
      width: 500px;
      height: 300px;
      border-radius: 25px;
    }
  }