
@media only screen and (max-width: 1200px) {
    body {
        font-size: 14px;

        
    }
}

@media only screen and (max-width: 1023px) {
    body {
       font-size: 14px;
       
    
    .initial-text-2 {
        transform: translate(-20%);
    }
    
    
    }
 }
 
 
 @media only screen and (max-width: 767px) {
     body {
        font-size: 12px;

        .initial-text-2 {
            transform: translate(-50%);
        }
        
     }

     .about-us{
         display: block;
         padding-bottom: 4%;
     }
 }
 
 
 @media only screen and (max-width: 480px) {
     body {
         font-size: 8px;

         .initial-text-2 {
            transform: translate(-50%);
        }
        
     }
 }
 


