$font-playfair: 'Playfair Display', sans-serif;
$font-cabin: 'Cabin', sans-serif;
$font-allura: 'Allura', sans-serif;
$elegant-color: #dca93d;
$gray-color:  #47425d;
$gray-color-2: #443f3f;
$white-color: #fff;